@namespace svgns url(http://www.w3.org/2000/svg);

body {
  margin: 0;
  padding: 0;
}

svgns|a {
  cursor: pointer;
}

svgns|a text {
  fill: black;
}

circle, path {
 stroke: grey;
 fill: transparent;
}
text {
 fill: black;
 text-anchor: middle;
}
.dates { font-size: 80%; }
.none {
 display: none;
}

.icon {
 fill: transparent;
}
.icon:hover {
 fill: #844404;
}

.highlight {
 fill: coral;
 fill-opacity: 0.5;
}

circle:hover, path:hover {
 fill: lightgrey;
 fill-opacity: 0.5;
}

#standard {
 font-size: 100%;
 fill: transparent;
}
